body {
    margin: 0%;
    text-align: center;
}
.wrapper {
    display: inline-block;
    background-image: url("Images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    width: 100%; 
    position: relative;
    background-position: center;
}
.top-container {
    margin-top: 16vh;
}
div h1 {
    display: inline-block;
    display: block;
    font-size: 8vh;
    color:orchid;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
   
}
.top-display div {
    margin: 0 10vw;
    display: inline;
    text-align: center;
    font-size: 25px;
    text-emphasis: bolder;
    color: lime;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;

    background-color: darkblue;
}
.card-layout {
    display: grid;
    height: 63vh;
    align-content: center;
}
.card {
    display: inline-flex;
    height: 124px;
    width: 82px;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-image: url("Images/BackofCards.jpg"); */
    border-radius: 8px;
    border: 1px solid gray;
    background-position: center;
    background-color: white;
    align-content: center;
}
.back-of-card {
    background-image: url("Images/BackofCards.jpg");
}
.row {
    text-align: center;
    
}
div.card:hover {
    
    box-shadow: inset   0 0 0.25em 0.25em indigo,
                        0 0 0.25em 0.25em indigo;  /* padding:1em */
}
button {
    border-top: 1px solid #e88e2e;
    background: #65d672;
    background: -webkit-gradient(linear, left top, left bottom, from(#623e9c), to(#65d672));
    background: -webkit-linear-gradient(top, #623e9c, #65d672);
    background: -moz-linear-gradient(top, #623e9c, #65d672);
    background: -ms-linear-gradient(top, #623e9c, #65d672);
    background: -o-linear-gradient(top, #623e9c, #65d672);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #2417e6;
    font-size: 30px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;

    margin: 0 10%;
    padding: 10px 20px;
    cursor: pointer;
    
    }
 button:hover {
    border-top-color: #9bc219;
    background: #9bc219;
    color: #9eff6e;
    cursor: pointer;
    }
 button:active {
    border-top-color: #491b5c;
    background: #491b5c;
    cursor: pointer;
    }

