body {
    margin: 0%;
    text-align: center;
}

.wrapper {
    display: inline-block;
    background-image: url("Images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    width: 100%; 
    position: relative;
    background-position: center;
}

.top-container {
    margin-top: 16vh;
}

div h1 {
    display: inline-block;
    display: block;
    font-size: 60px;
    color:orchid;
    text-shadow: 0 0 20px rgb(230, 255, 90), 0 0 25px rgb(230, 255, 90),
             0 0 25px rgb(230, 255, 90), 0 0 45px rgb(230, 255, 90),
             0 0 55px rgb(230, 255, 90);
}

.top-display {
    display: flex;
}
.button-container {
    display: inline;
    text-align: center;
    width: 50%;
}

div .button-container .reset {

}

.reset {
    background-color: black;
    align-content: left:
}

.stats-container{
    display: inline-flex;
    text-align: center;
    width: 50%;
}
.stats-container div {
    align-items: center;
    display: inline-flex;
    text-align: center;
    font-size: 1.5rem;
    text-emphasis: bolder;
    color: lime;
    border: 2px solid black;
    border-radius: 10px;
    background-color: darkblue;
    white-space: nowrap;
    padding: 1vw 3vw;
    font-size: 1.0rem;
    margin: 0 5vw;
}

.card-layout {
    display: grid;
    height: 55vh;
    align-content: center;
}

.card {
    display: inline-flex;
    height: 130px;
    width: 98px;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-image: url("Images/BackofCards.jpg"); */
    border-radius: 8px;
    border: 1px solid gray;
    background-position: center;
    background-color: white;
    align-content: center;
}

.back-of-card {
    background-image: url("Images/BackofCards.jpg");
}

.row {
    text-align: center;
}

div.card:hover {
    cursor: pointer;
    box-shadow: inset   0 0 0.25em 0.25em indigo,
                        0 0 0.25em 0.25em indigo;  /* padding:1em */
}

button {
    border-top: 1px solid #e88e2e;
    background: #65d672;
    background: -webkit-gradient(linear, left top, left bottom, from(#623e9c), to(#65d672));
    background: -webkit-linear-gradient(top, #623e9c, #65d672);
    background: -moz-linear-gradient(top, #623e9c, #65d672);
    background: -ms-linear-gradient(top, #623e9c, #65d672);
    background: -o-linear-gradient(top, #623e9c, #65d672);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #2417e6;
    font-size: 1.0rem;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    padding: 1vw 3vw;
    cursor: pointer;
    margin: 0 5vw;
}

 button:hover {
    border-top-color: #9bc219;
    background: #9bc219;
    color: #9eff6e;
    cursor: pointer;
}

 button:active {
    border-top-color: #491b5c;
    background: #491b5c;
    cursor: pointer;
}


